@font-face {
    font-family: "nasa";
    src: url("/fonts/NasalizationRg.otf");
}

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("/images/background.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

main {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    backdrop-filter: blur(10px);
    width: 100%;
}

/* Botão sair */
a {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Container do formulário */
form {
    background-color: rgba(0, 0, 64, 0.85);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

/* Título */
h2 {
    font-family: "nasa";
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Labels */
label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #dddddd;
}

/* Inputs */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #4c4c77;
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, rgba(0,32,171,1) 0%, rgba(50,9,121,0.9) 54%, rgba(153,0,255,1) 100%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #574b90;
}

/* Mensagem de erro */
p {
    color: #ff4d4d;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
